<div class="week-matrix">
  <table class="index_table">
    <tr>
      <th>Inst.</th>
      <% days.each do |day| %>
        <th class ="<%='wknd' if day.wday.in?([0, 6])%>"><%= "#{CalendarService::SPANISH_DAY_INITIALS[day.wday - 1]} #{day.day}/#{day.month}" %></th>
      <% end %>
    </tr>
    <% sites.each do |site| %>
      <tr>
      <th><%= site.name %></th>
      <% days.each do |day| %>
          <%= render partial: 'matrix_cell', locals: { reserves: service.reserves_for_cell(site.id, day), site: site, day: day }%>
      <% end %>
      </tr>
    <% end %>
  </table>
</div>
