// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import 'activeadmin_addons/all';
@import "active_admin/mixins";
@import "active_admin/base";

//$skinActiveColor: #001cee;
//$skinHeaderBck: #002744;
//$panelHeaderBck: #002744;
$skinLogo: 0;

// @import "active_skin";

$disabledInputGray: #f2f2f2;
$disabledInputFontGray: #a6a6a6;

$calendarDarkCellFontColor: #5e6469;
$calendarLightCellFontColor: #ffffff;
$orderUnpaid: #e65c00;
$orderSemiPaid: #e6e600;
$orderPaid: #2eb82e;
$orderPaidBilled: #3399ff;
$orderUnpaidPast: #ffa366;
$orderSemiPaidPast: #ffff80;
$orderPaidPast: #99e699;
$orderPaidBilledPast: #cce6ff;

$wkndCellFontColor: #7a00cc;
$wkndCellBckgrndColor: #f5e6ff;

$statusTagAnnulled: #595959;
$statusTagPast: #3d3d5c;
$statusTagPresent: #737373;
$statusTagFuture: #9494b8;

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.status_tag {
  &.annulled {
    background-color: $statusTagAnnulled;
  }
  &.unpaid {
    background-color: $orderUnpaid;
  }
  &.semi_paid {
    background-color: $orderSemiPaid;
  }
  &.paid {
    background-color: $orderPaid;
  }
  &.paid_billed {
    background-color: $orderPaidBilled;
  }
  &.past {
    background-color: $statusTagPast;
  }
  &.present {
    background-color: $statusTagPresent;
  }
  &.future {
    background-color: $statusTagFuture;
  }
}

.main-form {
  .existing-guest span {
    background-color: #e6e6e6;
  }

  .datepicker, .reserve-date-input {
    width: 130px;
  }

  .site-select2 + span.select2, .base_fee-select2 + span.select2  {
    width: 300px !important;
  }

  #add-reserve-button {
    margin-bottom: 50px;
    display: block;
  }

  input[type=number] {
    max-width: 125px;
  }

  .disabled-input {
    background-color: $disabledInputGray !important;

    span, &#quote_markup, &#quote_unit_price {
      color: $disabledInputFontGray;
    }
  }
}

#calendar-view {

  #calendar-month-selector + span.select2 {
    width: 200px !important;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 14px;
  }

  .site-group-matrix-container {
    display: inline-flex;
  }

  .week-matrix {
    margin: 10px;

    td, th {
      border-right: 1px solid #e8e8e8;
      padding: 1px !important;
      text-align: center !important;

      &.wknd {
        color: $wkndCellFontColor;
      }
    }

    .matrix-cell {

      div {
        width: 50px;
        height: 50px;
        overflow: hidden;
        word-wrap: break-word;
        display: table;
      }

      a {
        text-decoration: none !important;
        vertical-align: middle;
        line-height: normal;
        height: 50px;
        display: table-cell;
        margin: 50%;
      }

      &.available-cell {
        background-color: #ffffff;

        &.wknd {
          background-color: $wkndCellBckgrndColor;
        }
      }

      &.single-reserve-cell {
        a {
          color: $calendarLightCellFontColor !important;
        }
        &.past a {
          color: $calendarDarkCellFontColor !important;
        }

        &.order-unpaid {
          background-color: $orderUnpaid;
          &.past {
            background-color: $orderUnpaidPast;
          }
        }

        &.order-semi_paid{
          background-color: $orderSemiPaid;
          &.past {
            background-color: $orderSemiPaidPast;
          }
        }

        &.order-paid{
          background-color: $orderPaid;
          &.past {
            background-color: $orderPaidPast;
          }
        }

        &.order-paid_billed{
          background-color: $orderPaidBilled;
          &.past {
            background-color: $orderPaidBilledPast;
          }
        }
      }

      &.multiple-reserve-cell {
        background-color: #c299ff;
      }
    }
  }
}

.dashboard.index {
  .dashboard-table {
    font-size: 15px;
    max-width: 700px;
    table {
      width: 100%;
    }

    a {
      text-decoration: underline !important;
    }
  }

  b {
    background-color: #ffff4d;
  }
}

.ui-datepicker-header {
  padding-top: 60px !important;
}