// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import 'activeadmin_addons/all';
@import "active_admin/mixins";
@import "active_admin/base";

//$skinActiveColor: #001cee;
//$skinHeaderBck: #002744;
//$panelHeaderBck: #002744;
$skinLogo: 0;

// @import "active_skin";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.main-form {
  .existing-guest span {
    background-color: #e6e6e6;
  }

  .datepicker {
    width: 130px;
  }

  .site-select2 + span.select2 {
    width: 300px !important;
  }

  #add-reserve-button {
    margin-bottom: 50px;
    display: block;
  }

  input[type=number] {
    max-width: 125px;
  }
}

#calendar-view {

  #calendar-month-selector + span.select2 {
    width: 200px !important;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 14px;
  }

  #matrix-container {
    display: inline-flex;
  }

  .week-matrix {
    margin: 10px;

    td, th {
      border-right: 1px solid #e8e8e8;
      padding: 1px !important;
      text-align: center !important;
    }

    .matrix-cell {

      div {
        width: 50px;
        height: 50px;
        overflow: hidden;
        word-wrap: break-word;
        display: table;
      }

      a {
        text-decoration: none !important;
        vertical-align: middle;
        line-height: normal;
        height: 50px;
        display: table-cell;
        margin: 50%;
      }

      &.available-cell {
        background-color: #ffffff;
      }

      &.single-reserve-cell {
        background-color: #b3d9ff;
      }

      &.multiple-reserve-cell {
        background-color: #c299ff;
      }
    }
  }
}